RewriteEngine On
Header always set Strict-Transport-Security "max-age=63072000; includeSubdomains;"
Header always append X-Frame-Options DENY
Header set X-Content-Type-Options nosniff
Header set X-XSS-Protection "1; mode=block"
Header set Referrer-Policy same-origin

# Redirect http -> https
RewriteCond %{HTTP:X-HTTPS-SESSION} !^yes$
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

SetEnvIfNoCase X-HTTPS-Session Yes is_ssl=yes
SetEnvIfNoCase X-HTTPS-Session Yes is_https=yes
SetEnvIfNoCase X-HTTPS-Session Yes HTTPS=on

# www.divd.nl

# redirect divd.nl to www
RewriteCond %{HTTP_HOST} ^divd\.nl [NC]
RewriteRule (.*) https://www.divd.nl/$1 [r=301,L]

# Serve www from divd-nl-2024
RewriteCond %{HTTP_HOST} ^www\.divd\.nl [NC]
RewriteCond %{REQUEST_URI} !^/divd-nl-2024 [NC]
RewriteRule (.*) divd-nl-2024/$1 [L]

# Redirect when I summon a directory without a trailing slash
RewriteCond %{HTTP_HOST} ^www\.divd\.nl [NC]
RewriteCond %{REQUEST_URI} ^/divd-nl-2024.*[^/]$ [NC]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^divd-nl-2024/(.*) /$1/ [L,r=301]

# csirt.divd.nl

# Serve csirt from csirt-divd-nl
RewriteCond %{HTTP_HOST} ^csirt\.divd\.nl [NC]
RewriteCond %{REQUEST_URI} !^/csirt-divd-nl [NC]
RewriteRule (.*) csirt-divd-nl/$1 [L]

# Redirect when I summon a directory without a trailing slash
RewriteCond %{HTTP_HOST} ^csirt\.divd\.nl [NC]
RewriteCond %{REQUEST_URI} ^/csirt-divd-nl.*[^/]$ [NC]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^csirt-divd-nl/(.*) /$1/ [L,r=301]

# redirect divd.club to www
RewriteCond %{HTTP_HOST} ^divd\.club [NC]
RewriteRule (.*) https://www.divd.club/$1 [r=301,L]

# beta.divd.nl

# Serve beta.divd.nl from beta
RewriteCond %{HTTP_HOST} ^beta\.divd\.nl [NC]
RewriteCond %{REQUEST_URI} !^/beta [NC]
RewriteRule (.*) beta/$1 [L]

# Redirect when I summon a directory without a trailing slash
RewriteCond %{HTTP_HOST} ^beta\.divd\.nl [NC]
RewriteCond %{REQUEST_URI} ^/beta.*[^/]$ [NC]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^beta/(.*) /$1/ [L,r=301]

# staging

# Serve staging.divd.nl from divd-nl-staging
RewriteCond %{HTTP_HOST} ^staging\.divd\.nl [NC]
RewriteCond %{REQUEST_URI} !^/divd-nl-staging [NC]
RewriteRule (.*) divd-nl-staging/$1 [L]

# Redirect when I summon a directory without a trailing slash
RewriteCond %{HTTP_HOST} ^staging\.divd\.nl [NC]
RewriteCond %{REQUEST_URI} ^/divd-nl-staging.*[^/]$ [NC]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^divd-nl-staging/(.*) /$1/ [L,r=301]

# vintage.divd.nl

# redirect vintage to www
RewriteCond %{HTTP_HOST} ^vintage\.divd\.nl [NC]
RewriteRule (.*) https://www.divd.nl/ [r=301,L]

# cyber-wear.nl

# recirect cyber-wear.nl to www
RewriteCond %{HTTP_HOST} ^cyber-wear\.nl [NC]
RewriteRule (.*) https://www.cyber-wear.nl/$1 [r=301,L]

# Serve cyber-wear.nl from cyber-wear-nl
RewriteCond %{HTTP_HOST} ^www\.cyber-wear\.nl [NC]
RewriteCond %{REQUEST_URI} !^/cyber-wear-nl [NC]
RewriteRule (.*) cyber-wear-nl/$1 [L]

# Redirect when I summon a directory without a trailing slash
RewriteCond %{HTTP_HOST} ^www\.cyber-wear\.nl [NC]
RewriteCond %{REQUEST_URI} ^/cyber-wear-nl.*[^/]$ [NC]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^cyber-wear-nl/(.*) /$1/ [L,r=301]

# divd.club

# Serve divd.club from divd-club
RewriteCond %{HTTP_HOST} ^www\.divd\.club [NC]
RewriteCond %{REQUEST_URI} !^/divd-club [NC]
RewriteRule (.*) divd-club/$1 [L]

# Redirect when I summon a directory without a trailing slash
RewriteCond %{HTTP_HOST} ^www\.divd\.club [NC]
RewriteCond %{REQUEST_URI} ^/divd-club.*[^/]$ [NC]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^divd-club/(.*) /$1/ [L,r=301]

# divd.global

# redirect divd.global to www.divd.nl
RewriteCond %{HTTP_HOST} ^divd.global$ [OR]
RewriteCond %{HTTP_HOST} ^www.divd.global$
RewriteRule (.*)$ https://www.divd.nl/ [R=301,L]
